<div class="three_quarter">
    <section class="clear">
        <h1>Study Medicine in Romania, in English or French at Iasi University</h1>
        
        <p>
            ''Grigore T. Popa'' University of Medicine and Pharmacy in Iasi is one of the oldest educational institutions in Romania. It was founded in 1879 and bears the name of the celebrated neuro-endocrinologist Grigore T. Popa, while the inaugural lecture was held December 1, 1879 by the famous Dr. Leon Scully. The University consists of four schools (Medicine, Dentistry, Pharmacy and Biomedical Engineering) and eight Medical Colleges. Practice and research programs take place in two Medical Clinics. Clinical affiliations include the St. Spiridon Hospital, the St. Maria Children 's Clinic, the Regional Oncology Institute and the Parhon Hospital, to make but a few. In addition, the Academic Medical Center consists of twenty eight laboratories, several auditoriums and one library with more than 470,000 volumes, including books, dissertations, theses and international scientific magazines and journals. The University employs more than 800 renowned professors, offering graduate and postgraduate programs to more than 4,000 students and is affiliated with many other educational Institutions throughout the world, such as the University of Freiburg in Germany, the Universities of Lyon, Amiens, Nancy and Louvain in France and the universities of Torino and Parma in Italy. Furthermore, the University organizes many international conferences annually.
        </p>
        <figure class="imgl boxholder">
            <img src="~/images/Grigore_T._Popa_University_of_Medicine_and_Pharmacy_Sector_A.jpg" />
        </figure>
    </section>
</div>

