<div class="three_quarter">
    <section class="clear">
        <h1>National Sports Academy "Vasil Levski"- NSA</h1>
        <figure class="imgr boxholder">
            <img src="~/images/universities/nsa logo.jpg" alt="">
        </figure>
        <p>
            The Higher Institute for Physical Culture (at present National Sports Academy “Vassil Levski”) - Sofia was founded as a university level educational institution graduating Physical Education Teachers and Sport Trainers.
The aquatic sports training base was opened near Nessebar, the Black Sea, in 1972. The same year the United Centre for Science and Training of Specialist in the field of Physical Culture and Sport was established. In 1973 the Scientific Council certifying awarding of degrees in science were set up.
The alpine training complex in Vitosha mountain was opened. In 1974 the specialized training of elite sportsmen - olympic, world and european champions - was introduced in the curriculum. Another alpine training complex in Borovetz, the Rila mountain was opened in 1986. In 1991 the Language Centre for preparatory training of foreign students was set up.
        </p>
        <figure class="imgl boxholder">
            <img src="~/images/universities/nsa.jpg" alt="">
        </figure>
        <p>
            At present the National Sports Academy (NSA) - Sofia is the only higher educational establishment in Bulgaria in the field of physical culture and sport. The NSA is granted full state accreditation, offering university degree programmes (BSc, MSc, PhD) at three faculties:<br />
            1. Faculty of Physical Education (Teachers)<br />
            2. Faculty of Sports (Coaches)<br />
            3. Faculty of Physiotherapy, Tourism and Sport Animation.
        </p>
    </section>


</div>
