<div class="three_quarter">
    <section class="clear">
        <h1>Study Nursing in Sofia Medical University</h1>
        <figure class="imgl boxholder">
            <img src="~/images/nurse.JPG" />
        </figure>
        <p>
            A Bachelor’s degree in Nursing in Europe provides medical, technical, scientific and human training to the students, showing them not only how to supply healthcare, but also how to communicate with patients and colleagues. Furthermore, a nurse is tough how to manage health services and to develop and join research projects. Thus, the progress of nursing and in general medicine is inevitable. The training schedule of the specialty is based more on experience and practice in the clinical context than just on theoretical assignments.
        </p>
        <p>
            In Europe, working in the healthcare industry is the result of years of studying. Therefore, choosing the right university for nursing is essential. At the European Universities, students who wish to study nursing are divided in small groups in order to stay more focused while the lecturer gives them better instructions. In Eastern Europe and especially in Bulgaria, nursing is a 4 year course
        </p>
        <p>
            As a country member of the EU, graduates from the Bulgarian Medical Universities receive an internationally recognized diploma. Nursing students who have successfully completed the course can work either in public or private hospitals, clinics, healthcare centers, schools, kindergartens, or as freelancers. Another option is at the specialized in different areas hospitals (such as rehabilitation, pediatrics and others).
        </p>
        <p>
            If you are interested in studying nursing in Bulgaria, a Bachelor of Nursing at Sofia Medical University is the option for you!
        </p>

    </section>
</div>
