<div class="three_quarter">
    <section class="clear">
        <h1>Study Medicine in English at Ovidius Constanta University</h1>
        
        <p>
            Study Medicine in English at Ovidius Constanta University (Medical School) Sit for a basic Biology entry test Tuition fees £3,500 (€5,000) per annum Entry in October GMC Accredited (no PLAB test required) Financial aid (Student Loans) from local affiliated financial institutions Low cost of living, approximately £5,900 (€7,975) a year
            Ovidius University Constanta is a public educational institution in Constanta, Romania. It was founded in 1961. It comprises sixteen schools, besides one educational department, among which most notable are its faculty of Medicine, Pharmacy, Dental Medicine, Economics, Theology, and Literature, offering more than thirty-five specializations. The Medical School was founded in 1990 and is one of the most recent and modern schools in Romania. Postgraduate specializations include Morphopathology, General Surgery, Plastic Surgery, Vascular Surgery, Orthopedics, Gastroenterology, Radiology, Internal Medicine, Cardiology, Endocrinology, Oncology,   Neurology, Urology, Obstetrics-Gynecology, Pediatrics, Pediatric Surgery, Ophthalmology, Epidemiology, Orthodontics, Psychiatry, General Dentistry, Clinical Genetics, and General Medicine. Students wishing to receive specialization should anticipate four to seven years, as the program is very intensive. Master 's studies may last from 2 to 3 years, whereas Doctoral studies are set to four years. Taught courses are mostly conducted in English, yet students are required to obtain some elementary knowledge of Romanian, in order to communicate with the patients. Alternative languages in medical classes include French. In 2008, the President of Romania inaugurated the new campus of the school, which is the biggest in Southeast Europe, since its establishments cover an area of more than 12,000 sq. m. Ovidius is also home to one of the biggest libraries in the country, with more than 500,000 volumes. Finally, the University employs 700 well respected professors, teaching no less than 20,000 students, both local and foreign, be it from India, Sri Lanka, Norway, Egypt, the USA, the UK, or Morocco, allowing students to enjoy a unique multicultural experience.

            Fees - Costs
            PROGRAMME	PROGRAMME STARTS	ANNUAL FEES (£)
            Medicine	October	3,500
            LIVING COSTS	MONTHLY (£)	ANNUALLY (£)
            Rent (private accommodation)	219-277	2,628-3,504
            Food	183	1,825
            Books	-	292
            Electricity & Gas	37	355
            Water	7	73
            TV Cable / Internet	15	175
            Public Transportation	15	146
            Total	475-533	5,504-6,380
        </p>
        <figure class="imgl boxholder">

            <img src="~/images/constanta_romania.jpg" />
        </figure>
    </section>
</div>

