<div class="three_quarter">
    <section class="clear">
        <h1>Plovdiv University "Paisii Hilendarski"</h1>
        <figure class="imgr boxholder">
            <img src="~/images/universities/HilendarskiLOGO.jpg" alt="">
        </figure>
        <p>
            Plovdiv University is one of the leading higher-education institutions in the Republic of Bulgaria. Also known as the University of Paisii Hilendarski, is the largest university in southern Bulgaria and as well the second biggest in Bulgaria. Our college was initially founded in 1961 as a Higher Institute of Pedagogy for Natural Sciences and Mathematics
These are the 9 faculties in the University
        </p>
        @*<figure class="imgl boxholder">
            <img src="~/images/universities/polovdivhelsinki.jpg" alt="">
        </figure>*@
        <figure class="imgl boxholder">
            <img src="~/images/universities/fortesy2.jpg" alt="">
        </figure>
    </section>


</div>
