<div class="three_quarter">
    <section class="clear">
        <h1>University of Architecture, Civil Engineering and Geodesy ( YACG )</h1>
        <figure class="imgr boxholder">
            <img src="~/images/universities/architectureUniversityLogo.png" alt="">
        </figure>
        <p>The university was founded as a Higher Technical School in 1942 in 1945 it was transformed into a State Polytechnic.</p>
        <p>In 1953 Engineering-Construction Institute (ISI) was formed , which in 1963 was renamed to Higher Institute of engineering and construction , and in 1977 - the Higher Institute of Architecture and Construction (VIAS).</p>
        <p>
            On July 21, 1995 by decision of the National Assembly VIAS was transformed into University of Architecture, Civil Engineering and Geodesy (UACEG).<p>
        <p>Number of students: 5000 (including part time 486, 352 foreign students and 50 doctoral students).</p>

        <figure class="imgl boxholder">
            <img src="~/images/universities/archtechtureUnversity.png" alt="">
        </figure>
    </section>


</div>
