<section class="last">
    <h1>Our Partners</h1>
    <ul class="nospace clear">
        <li class="one_fifth first">
            <a href="www.facebook.com/bgr.estate/">
                <img src="~/images/advertisment/Logo_EN_V_192.jpg" alt="">
            </a>
        </li>
        <li class="one_fifth">
            <a href="http://www.larnacacollege.ac.cy/">
                <img src="~/images/partners/larnaca.PNG" />
            </a>
        </li>
        <li class="one_fifth">
            <a href="#">
                <img src="~/images/universities/Language_Center 192.jpg" alt="">
            </a>
        </li>
        <li class="one_fifth">
            <a href="http://www.ukstudytoday.com/">
                <img src="~/images/universities/iranian-uk192192.jpg" alt="">
            </a>
        </li>
        @*<li class="one_fifth">
            <img src="../images/demo/192x192.gif" alt=""></li>*@
    </ul>
</section>