<div class="wrapper row3">
    <div id="container">
        <!-- ################################################################################################ -->

        <section class="clear">
            
            <br />
            <h1>FREE CONSULTING</h1>
            <div class="">

                <p>
                    All  students, faculty, and staff are eligible for up to one hour of free consulting each week. Our statistical consultants are available for appointments by phone/Skype or in-person, and they can also answer questions over email.
                </p>

            </div>
            <br />
            <h1>
                CONTRACT CONSULTING
            </h1>
            <p>
                We are pleased to offer professional data analysis services faculty .Our consulting services can be tailored to meet your needs.
            </p>
            <br />
            <h1>FREE CONSULTING POLICIES ( student visa )</h1>
            <div class="">

                <p>
                    We provide the following guidelines and information to facilitate the use of our services as well as to detail what researchers can expect, and what is expected of them, when using our free statistical consulting services.
                </p>

            </div>
            <br />

            <figure class="imgl boxholder">
                <img src="~/images/advertisment/IMG_3474.JPG" />
            </figure>

        </section>
        @Html.Partial("_Partners")


        <div class="clear"></div>
    </div>
</div>