<div class="wrapper row1">
    <!-- ################################################################################################ -->
    <div class="rslides_container clear">
        <ul class="rslides clear" id="rslides">
            <li>
                <img src="images/demo/slider/1.jpg" alt="">
            </li>
            <li>
                <img src="images/demo/slider/2.jpg" alt="">
            </li>
            <li>
                <img src="images/demo/slider/3.jpg" alt="">
            </li>
            @*<li>
                <img src="images/demo/slider/4.jpg" alt=""></li>*@
        </ul>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
</div>
<!-- content -->
<div class="wrapper row3">
    <div id="container">
        <!-- ################################################################################################ -->
        <div id="homepage" class="clear">
            <div class="two_third first">
                <div class="clear">

                    <article class="one_half first">
                        @* <h2><a href="#">Welcome to the website for students of Med Academia</a></h2>*@

                        <div class="boxholder">
                            <img src="~/images/UniversitySofiaOrhidski.jpg" />
                        </div>
                        <p>
                            Study Medicine in English at Sofia University St. Kliment Ohridski 2016 :
                            <ul>
                                <li>Test in Chemistry and Biology in English language</li>
                                <li>There are 2 examination dates in September</li>
                                <li>The application process starts from June</li>
                                <li>The Academic year starts from 1st of October</li>
                            </ul>
                        </p>
                    </article>
                    <article class="one_half ">
                        <div class="boxholder">
                            <a class="fancybox" rel="group" href="~/images/advertisment/Certificate.png">
                                <img src="~/images/advertisment/Certificate.png" alt="">
                            </a>
                        </div>
                    </article>
                    @*<article class="one_half first">
                            @* <h2><a href="#">Welcome to the website for students of Med Academia</a></h2>

                            <div class="boxholder">
                                <img src="~/images/advertisment/IMG_3083.JPG" alt="">
                            </div>
                            <p>
                                Professor Vihra Milanova has been elected Rector of Medical University-Sofia, after a meeting of the General Assembly of the university took place on the 14th of April 2016.
                                Med-acadimia uk wishes luck, ambition and motivation to prof. Milanova! The position of University Rector is a deserved recognition of your professionalism, authority and personal qualities.
                                Congratulations!
                            </p>

                        </article>*@
                </div>
                <br />
                <div class="clear">
                    <article class="one_half first">
                        <div class="boxholder">
                            <img src="~/images/advertisment/IMG_3083.JPG" alt="">
                        </div>
                        <p>
                            Professor Vihra Milanova has been elected Rector of Medical University-Sofia, after a meeting of the General Assembly of the university took place on the 14th of April 2016.
                            Congratulations!
                        </p>

                    </article>
                    <article class="one_half">
                        <div class="boxholder">
                            <img src="~/images/kosher.jpg" />
                        </div>
                        <p>
                            Medical University of Sofia will organise enterance test in United Kingdom! Examination places will be announced 3 weeks before examination!
                        </p>
                    </article>
                </div>
                <div class="divider2"></div>
                @Html.Partial("_Main")
            </div>
            <!-- ################################################################################################ -->
            @Html.Partial("_LeftLayout")
        </div>
        <!-- ################################################################################################ -->
        <div class="clear"></div>
    </div>
</div>
